@import '../../palette';

.post-poster{
  margin: 0 0 10px 0;
  .post-poster__text-area{
    color: $color-ft-2;
    border-radius: 5px;
    font-size: 20px;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 5px;
    margin: 0 0 15px 0;
  }
  .post-poster__button-area{
    display: flex;
    justify-content: flex-end;
    .post-poster__button{
      border-radius: 5px;
      background-color: $color-bg-5;
      font-size: 20px;
      color: $color-ft-1;
      width: 100px;
      height: 35px;
      &:hover{
        box-shadow: 0 0 10px 3px #999;
      }
      &:active{
        box-shadow: 0 0 10px 3px #ccc;
      }
    }
  }
}