.profile .profile__wrapper {
  margin: 15px;
}
.profile .banner {
  overflow: hidden;
  height: 200px;
  width: 100%;
  margin: -15px -15px 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile .banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}