.DialogsMessages {
  height: 100%;
}

.DialogsMessages__container {
  height: 100%;
  display: flex;
  padding: 10px;
  flex-direction: column;
}
.DialogsMessages__container .DialogsMessages__item {
  margin: 0 0 15px 0;
}