.postPosted {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  column-gap: 15px;
  margin: 0 0 15px 0;
}
.postPosted .postPosted__userPhoto {
  flex: 0 0 auto;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  overflow: hidden;
}
.postPosted .postPosted__userPhoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.postPosted .postPosted__msgAndBtnsCont {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.postPosted .postPosted__msgAndBtnsCont .postPosted__message {
  flex: 1 1 auto;
}
.postPosted .postPosted__msgAndBtnsCont .postPosted__message p {
  height: 100%;
  padding: 15px;
  border: 1px solid var(--color-bg-4);
  border-radius: 20px;
  white-space: pre-wrap;
  word-break: break-word;
}
.postPosted .postPosted__msgAndBtnsCont .postPosted__ratingButtons {
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
.postPosted .postPosted__msgAndBtnsCont .postPosted__ratingButtons .btnLike,
.postPosted .postPosted__msgAndBtnsCont .postPosted__ratingButtons .btnDislike {
  -webkit-user-select: none;
          user-select: none;
  border-radius: 5px;
  font-size: 15px;
  color: var(--color-ft-1);
  width: 55px;
  height: 25px;
}
.postPosted .postPosted__msgAndBtnsCont .postPosted__ratingButtons .btnLike:hover,
.postPosted .postPosted__msgAndBtnsCont .postPosted__ratingButtons .btnDislike:hover {
  box-shadow: 0 0 10px 3px #999;
}
.postPosted .postPosted__msgAndBtnsCont .postPosted__ratingButtons .btnLike:active,
.postPosted .postPosted__msgAndBtnsCont .postPosted__ratingButtons .btnDislike:active {
  box-shadow: 0 0 10px 3px #ccc;
}
.postPosted .postPosted__msgAndBtnsCont .postPosted__ratingButtons .btnLike {
  background-color: var(--color-bg-6);
}
.postPosted .postPosted__msgAndBtnsCont .postPosted__ratingButtons .btnDislike {
  background-color: var(--color-bg-7);
}