.postPosted {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  column-gap: 15px;
  margin: 0 0 15px 0;

  .postPosted__userPhoto {
    flex: 0 0 auto;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

  .postPosted__msgAndBtnsCont {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .postPosted__message {
      flex: 1 1 auto;

      p {
        height: 100%;
        padding: 15px;
        border: 1px solid var(--color-bg-4);
        border-radius: 20px;
        white-space: pre-wrap;
        // overflow-wrap: break-word;
        word-break: break-word;
      }
    }

    .postPosted__ratingButtons {
      padding: 10px;
      display: flex;
      gap: 10px;
      justify-content: flex-end;

      .btnLike,
      .btnDislike {
        user-select: none;
        border-radius: 5px;
        font-size: 15px;
        color: var(--color-ft-1);
        width: 55px;
        height: 25px;

        &:hover {
          box-shadow: 0 0 10px 3px #999;
        }

        &:active {
          box-shadow: 0 0 10px 3px #ccc;
        }
      }

      .btnLike {
        background-color: var(--color-bg-6);
      }

      .btnDislike {
        background-color: var(--color-bg-7);
      }
    }
  }

}