.UserCard {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin: 0 0 15px 0;
}
.UserCard .UserCard__user-photo {
  overflow: hidden;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.UserCard .UserCard__user-photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.UserCard .UserCard__text-part {
  margin: 10px 0;
}
.UserCard .UserCard__user-name {
  font-size: 20px;
  margin: 0 0 20px 0;
}
.UserCard .UserCard__user-info {
  line-height: 20px;
}