.Header {
  width: 100%;
  grid-area: header;
  background-color: var(--color-bg-4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-weight: 700;
  font-size: 25px;
}
.Header .Header__logo {
  height: 50px;
  overflow: hidden;
}
.Header .Header__logo img {
  height: 100%;
  object-fit: contain;
}
.Header .Header__login {
  cursor: default;
}
.Header .Header__logout {
  cursor: pointer;
}

.Header__notAuth {
  background-color: brown;
}