.header {
  grid-area: header;
  background-color: var(--color-bg-4);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
}
.header .header__logo {
  height: 50px;
  overflow: hidden;
}
.header .header__logo img {
  height: 100%;
  object-fit: contain;
}