.header {
  width: 100%;
  grid-area: header;
  background-color: var(--color-bg-4);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;

  .header__logo {
    height: 50px;
    overflow: hidden;

    img {
      height: 100%;
      object-fit: contain;
    }
  }
}