.sideBar {
  grid-area: sidebar;
  background-color: var(--color-bg-3);
  padding: 15px;
}
.sideBar ul li {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: var(--color-ft-2);
}
.sideBar ul li .link:visited {
  color: inherit;
}
.sideBar ul li .link:hover {
  color: var(--color-ft-4);
}
.sideBar ul li .link:active {
  color: var(--color-ft-2);
}
.sideBar ul li:last-child {
  margin: 30px 0 0 0;
}