.side-bar {
  grid-area: sidebar;
  background-color: var(--color-bg-3);
  padding: 15px;
}
.side-bar ul li {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: var(--color-ft-2);
}
.side-bar ul li a:visited {
  color: inherit;
}
.side-bar ul li:last-child {
  margin: 30px 0 0 0;
}