.IDSelector {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.IDSelector .IDSelector__infoText {
  margin: 0 0 15px 0;
}
.IDSelector .IDSelector__infoText span {
  font-weight: 900;
  color: var(--color-bg-9);
}
.IDSelector select {
  width: 100%;
  text-indent: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: var(--color-ft-2);
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
}