.DialogsWithFriends {
  width: 100%;
  height: 100%;
}

.DialogsWithFriends__container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;

  .DialogsWithFriends__item {
    margin: 0 0 15px 0;
  }
}