@use 'reset_style.css';
@import 'palette.css';

*:has(.App) {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: var(--color-bg-1);
  color: var(--color-ft-1);

  a {
    &:visited {
      color: inherit;
    }
  }
}

.App {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 1600px;
}

.App__wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 70px 100vh;
  grid-template-columns: 200px minmax(500px, 80%);
  grid-auto-flow: column;
  gap: 15px;
  grid-template-areas:
    "header header"
    "sidebar content";
}