/* Цветовая схема для сайта */

:root {
  /* Background color */

    /* // Site background: */
    --color-bg-1: #49504b;
    /* ??: */
    --color-bg-2: #77d1b3;
    /* // Sidebar: */
    --color-bg-3: #f2ea86;
    /* // Header: */
    --color-bg-4: #df8b30;
    /* // Buttons: */
    --color-bg-5: #AF455A;


  /* Font color */

    /* // Основной шрифт на темном фоне: */
    --color-ft-1: #eee;
    /* // Основной шрифт на светлом фоне: */
    --color-ft-2: #444;

}