.Dialogs {
  height: 100%;
  width: 100%;
}

.Dialogs__wrapper {
  // border: 1px solid #000;
  padding: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Dialogs__title {
  text-transform: uppercase;
  flex: 1 1 auto;
  height: 5%;
  font-size: 25px;
  font-weight: 700;
  margin: 15px;
}

.Dialogs__body {
  height: 95%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Dialogs__sidebar {
  border-right: 4px solid var(--color-bg-8);
  flex: 0 0 auto;
  width: 25%;
  min-width: fit-content;
}

.Dialogs__messages {
  // overflow: auto;
  flex: 1 1 60%;
  height: 100%;
}