.Auth {
  padding: 5rem 0 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.Auth__form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 1rem;
}

.Auth__email,
.Auth__password {
  border-radius: 0.3em;
  font-size: 16px;
  height: 1.5em;
  padding: 0 0.5rem;
}

.Auth__label {
  font-weight: 700;
}

.Auth__button {
  align-self: flex-end;
  border-radius: 0.3em;
  font-size: 1.2rem;
  height: 1.5em;
  padding: 0 0.5rem;
  font-weight: 700;
  background-color: var(--color-bg-5);
  color: var(--color-ft-1);
  width: 80px;
  height: 30px;
}
.Auth__button:hover {
  box-shadow: 0 0 10px 3px #999;
}
.Auth__button:active {
  box-shadow: 0 0 10px 3px #ccc;
}